[Unit]
Description=GBA_SPi Screen Service

[Service]
Type=simple
Restart=always
User=root
ExecStart=/home/pi/fbcp-ili9341/build/fbcp-ili9341

[Install]
WantedBy=multi-user.target
